.list {
    column-count: 3; /* 3 колонки */
    column-gap: 15px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.listItem {
    display: inline-block; /* Дозволяє елементам залишатися окремими */
    width: 100%;
    margin-bottom: 15px; /* Відступ між елементами */
    break-inside: avoid; /* Запобігає розриву елементів між колонками */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.listImg {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.listParagraph {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.listItem:hover, .listItem:focus {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
}
